.offer-slide {
	display: flex;
	flex-direction: column;

	background-color: $whiteAlpha;
}

.offer-slide__descrip {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;

	padding: 50px 34px 57px;

	text-align: center;

	@include media-laptop {
		padding: 30px 20px;
	}
}

.offer-slide__title {
	margin-bottom: 30px;

	@include media-laptop {
		font-size: 25px;
		margin-bottom: 20px;
	}
}

.offer-slide__text {
	flex-grow: 1;

	font-size: 22px;
	color: $blackAlpha;

	margin-bottom: 40px;

	@include media-laptop {
		font-size: 18px;
		margin-bottom: 25px;
	}
}

.offer-slide__button {
	background-color: $blackAlpha;
	height: 60px;
	width: 165px;

	background-image: url("../img/plus.png");
	background-position: center;
	background-repeat: no-repeat;

	transition: background-color 0.1s linear;

	&:hover {
		background-color: lighten($blackAlpha, 5);
	}

	@include media-laptop {
		height: 50px;
		width: 140px;
	}

	@include media-tablet-sm {
		width: 120px;
		height: 40px;
		background-size: 25px;
	}
}
