.about__inner {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-direction: column;

	@include media-custom-mf($media-lg) {
		flex-direction: row;
	}
}

.about__text {
	color: $blackAlpha;
	font-size: 24px;
	margin-bottom: 24px;
}

.about__text,
.about__button {
	font-size: 24px;

	@include media-laptop {
		font-size: 18px;
	}
}

.about__content {
	margin-bottom: 20px;

	@include media-custom-mf($media-lg) {
		max-width: 647px;
		width: 100%;
		margin-right: 20px;
		margin-bottom: 0;
	}
}

.about__img {
	max-width: 455px;
	width: 100%;
	margin: 0 auto;

	img {
		object-fit: cover;
		height: 100%;
	}

	@include media-custom-mf($media-lg) {
		margin: 0;
	}
}
