.about__inner {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-direction: column;

	@include media-custom-mf($media-lg) {
		flex-direction: row;
	}
}

.about__text {
	color: $blackAlpha;
	font-size: 24px;
	margin-bottom: 20px;
}

.about__text {
	font-size: 24px;

	p:not(:last-child) {
		margin-bottom: 20px;
	}

	@include media-laptop {
		font-size: 18px;
	}
}

.about__button {
	font-size: 24px;

	padding: 8px 50px;

	@include media-laptop {
		font-size: 18px;
	}
}

.about__content {
	margin-bottom: 20px;

	@include media-custom-mf(992px) {
		max-width: 648px;
		width: 100%;
		margin-right: 20px;
		margin-bottom: 0;
	}
}

.about__img {
	max-width: 457px;
	width: 100%;
	margin: 0 auto;

	@include media-custom-mf($media-lg) {
		margin: 0;
	}
}
