.edges {
	@include media-tablet-lg {
		margin-bottom: 30px;
	}
}

.edges__top {
	margin-bottom: 30px;
}

.edges__title {
	display: flex;
	justify-content: space-between;

	&::after {
		content: "";

		display: inline-block;

		margin-top: 10px;

		width: 50%;
		height: 1px;

		background-color: $blackAlpha;
	}

	@include media-tablet-lg {
		&::after {
			display: none;
		}
	}
}

.edges__inner {
	position: relative;
	padding-top: 439px;
	background-image: url(../img/edges-bg.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 123%;

	&::after,
	&::before {
		content: "";

		position: absolute;

		background: $blackAlpha;
	}

	&::after {
		height: 100%;
		width: 100vw;

		top: 60px;
		left: 99%;
	}

	&::before {
		height: 100%;
		width: 100vw;

		top: 213px;
		right: 99%;
	}

	@include media-laptop {
		margin: 0 -30px -1px;

		background-size: 110%;
		padding-top: 35%;

		&::before {
			top: 226px;
		}

		&::after {
			top: 83px;
		}
	}

	@include media-tablet-lg {
		background-image: none !important;

		margin: 0;
		padding: 0;

		&::after,
		&::before {
			display: none;
		}
	}
}

.edges__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;

	@include media-tablet-sm {
		grid-gap: 10px;
	}

	@include media-phone-lg {
		grid-template-columns: repeat(1, 1fr);
	}
}

.edges__item {
	position: absolute;

	z-index: 1;

	max-width: 300px;
	width: 100%;

	&:nth-child(1) {
		top: 61%;
		left: 13%;
	}

	&:nth-child(2) {
		top: 47%;
		left: 46%;
	}

	&:nth-child(3) {
		top: 31%;
		left: 86%;
	}

	@include media-laptop {
		&:nth-child(1) {
			top: 58%;
			left: 15%;
		}

		&:nth-child(2) {
			top: 44%;
		}

		&:nth-child(3) {
			top: 27%;
			left: 82%;
		}
	}

	@include media-tablet-lg {
		position: static;

		margin: 0 auto;
		padding: 12px;

		box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
			rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

		text-align: center;
		color: $blackAlpha;
	}
}

.edges__item-title {
	margin-bottom: 15px;

	@include media-laptop {
		font-size: 22px;
	}
}

.edges__item-text {
	@include media-laptop {
		font-size: 16px;
	}
}
