.form-order__body {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	padding: 28px 98px 30px;

	background-color: $blackAlpha;

	@include media-laptop {
		padding: 28px;
	}

	@include media-tablet-lg {
		flex-direction: column;
	}
}

.form-order__txt {
	display: block;
	margin-bottom: 5px;

	text-align: center;
	font-family: $fontSecondary;
}

.form-order__title {
	padding: 25px 45px 0;
	margin: 0 auto;

	font-family: $fontSecondary;
	font-size: 26px;
	text-align: center;

	max-width: fit-content;

	background-color: $blackAlpha;

	@include media-tablet-lg {
		font-size: 22px;

		padding: 20px;
	}

	@include media-phone-sm {
		padding-bottom: 0;
	}
}

.form-order__label,
.form-order__submit {
	max-width: 165px;
	width: 100%;
}

.form-order__label {
	display: block;
	width: 100%;

	@include media-tablet-lg {
		max-width: unset;
	}
}

.form-order__inputs {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;

	width: 100%;
	margin-right: 30px;

	@include media-tablet-lg {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 15px;
		margin-right: 0;
		margin-bottom: 25px;
	}

	@include media-phone-sm {
		grid-template-columns: repeat(1, 1fr);
	}
}

.form-order__input {
	padding: 15px;
	max-height: 45px;

	height: 100%;
	width: 100%;

	text-align: center;

	background-color: $whiteAlpha;
}

.form-order__submit {
	font-size: 16px;

	@include media-tablet-lg {
		max-width: fit-content;

		margin: 0 auto;
	}

	@include media-phone-lg {
		max-width: unset;
	}
}
