.intro {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.intro__inner {
	padding-top: rem(619);

	@include media-desktop {
		padding-top: 400px;
	}

	@include media-tablet-lg {
		padding-top: 250px;
	}

	@include media-tablet-sm {
		padding-top: 120px;
	}
}

.intro__content {
}
