.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.section {
	margin-bottom: 55px;

	@include media-tablet-lg {
		margin-bottom: 35px;
	}
}

.sections {
	padding: 50px 0 130px;

	background-color: $blackAlpha;

	@include media-laptop {
		padding: 30px 0 130px;
	}
}

.title {
	font-size: 48px;
	font-weight: 700;
	font-family: $fontSecondary;
	text-transform: uppercase;

	margin-bottom: 20px;

	&--dark {
		color: $blackAlpha;
	}

	@include media-laptop {
		font-size: 40px;
	}

	@include media-tablet-lg {
		font-size: 25px;
		margin-bottom: 15px;
	}
}

.title-secondary {
	font-size: 30px;
	font-family: $fontSecondary;
	margin-bottom: 25px;

	&--dark {
		color: $blackAlpha;
	}

	@include media-tablet-lg {
		font-size: 22px;
		margin-bottom: 20px;
	}
}

.button {
	background-color: $blackAlpha;
	color: $whiteAlpha;
	font-size: 18px;
	text-align: center;

	padding: 12px 18px;

	transition: background-color 0.1s linear;

	&:hover {
		background-color: lighten($blackAlpha, 7);
	}

	&--secondary {
		background-color: $whiteAlpha;
		color: $blackAlpha;

		padding: 12px 18px;

		transition: background-color 0.1s linear;

		&:hover {
			background-color: darken($whiteAlpha, 7);
		}
	}
}

.text {
	font-size: 18px;

	span {
		font-family: $fontPrimary;
	}

	&--dark {
		color: $blackAlpha;
	}

	&--lg {
		font-size: 22px;

		line-height: 1.4;

		@include media-laptop {
			font-size: 18px;
		}
	}

	&--secondary {
		font-family: $fontSecondary;
	}

	@include media-tablet-sm {
		font-size: 16px;
	}
}

.social-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(34px, 1fr));
	grid-gap: 20px;
	min-width: 137px;

	li {
		transition: filter 0.1s linear;

		&:hover {
			filter: brightness(120%);
		}
	}

	&:not(.social-list--fit-content) {
		@include media-tablet-sm {
			grid-template-columns: repeat(auto-fit, minmax(34px, 1fr));
			grid-gap: 5px;
		}
	}
}

.slider-pagination {
	display: flex;
	align-items: center;

	.swiper-pagination-bullet {
		position: relative;
		display: inline-block;
		height: 12px;
		width: 12px;
		background-color: $whiteAlpha;
		border-radius: 0;

		&:not(:last-child) {
			margin-right: 10px;
		}

		&:only-child {
			display: none;
		}

		&::after {
			position: absolute;
			display: none;
			content: "";
			background-color: $blackAlpha;
			width: 4px;
			height: 4px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&.swiper-pagination-bullet-active {
			&::after {
				display: block;
			}
		}
	}
}

.slider-button-next,
.slider-button-prev {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 11px 0 11px 22px;
	border-color: transparent transparent transparent $whiteAlpha;

	transition: border-color 0.1s linear;

	&:hover {
		border-color: transparent transparent transparent darken($whiteAlpha, 10);
	}

	&--lg {
		border-width: 21px 0 21px 34px;

		@include media-tablet-lg {
			border-width: 11px 0 11px 22px;
		}
	}
}

.slider-button-prev {
	transform: scale(-1, -1);
}

.map {
	height: 320px;

	background-image: url("../img/map.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
