.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.section {
	margin-bottom: rem(55);

	@include media-tablet-lg {
		margin-bottom: 30px;
	}
}

.title {
	font-size: rem(48);
	font-family: $fontSecondary;
	text-transform: uppercase;

	&--dark {
		color: $blackAlpha;
	}

	@include media-laptop {
		font-size: 40px;
	}

	@include media-tablet-lg {
		font-size: 35px;
	}
}

.button {
	background-color: $blackAlpha;
	color: $whiteAlpha;
	font-size: 18px;

	padding: 12px 18px;

	transition: background-color 0.1s linear;

	&:hover {
		background-color: darken($blackAlpha, 7);
	}

	&--secondary {
		background-color: $whiteAlpha;
		color: $blackAlpha;

		padding: 12px 18px;

		transition: background-color 0.1s linear;

		&:hover {
			background-color: darken($whiteAlpha, 7);
		}
	}
}

.social-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(34px, 1fr));
	grid-gap: rem(20);

	@include media-tablet-sm {
		grid-template-columns: repeat(auto-fit, minmax(34px, 1fr));
		grid-gap: 5px;
	}
}
