.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.section {
	margin-bottom: 55px;

	@include media-tablet-lg {
		margin-bottom: 35px;
	}
}

.title {
	font-size: 48px;
	font-family: $fontSecondary;
	text-transform: uppercase;

	&--dark {
		color: $blackAlpha;
	}

	@include media-laptop {
		font-size: 40px;
	}

	@include media-tablet-lg {
		font-size: 25px;
	}
}

.button {
	background-color: $blackAlpha;
	color: $whiteAlpha;
	font-size: 18px;

	padding: 12px 18px;

	transition: background-color 0.1s linear;

	&:hover {
		background-color: lighten($blackAlpha, 7);
	}

	&--secondary {
		background-color: $whiteAlpha;
		color: $blackAlpha;

		padding: 12px 18px;

		transition: background-color 0.1s linear;

		&:hover {
			background-color: darken($whiteAlpha, 7);
		}
	}
}

.social-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(34px, 1fr));
	grid-gap: rem(20);

	li {
		transition: filter 0.1s linear;

		&:hover {
			filter: brightness(120%);
		}
	}

	@include media-tablet-sm {
		grid-template-columns: repeat(auto-fit, minmax(34px, 1fr));
		grid-gap: 5px;
	}
}

.slider-pagination {
	.swiper-pagination-bullet {
		position: relative;
		display: inline-block;
		height: 12px;
		width: 12px;
		background-color: $whiteAlpha;
		border-radius: 0;

		&:not(:last-child) {
			margin-right: 10px;
		}

		&::after {
			position: absolute;
			display: none;
			content: "";
			background-color: $blackAlpha;
			width: 4px;
			height: 4px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&.swiper-pagination-bullet-active {
			&::after {
				display: block;
			}
		}
	}
}

.slider-button-next,
.slider-button-prev {
	background-image: url("../img/arrow-right.png");
	background-position: center;
	background-repeat: no-repeat;
}

.slider-button-next,
.slider-button-prev {
	height: 22px;
	width: 22px;
}

.slider-button-prev {
	transform: scale(-1, -1);
}
