@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontPrimary: "Roboto", sans-serif;
$fontSecondary: "Montserrat", sans-serif;
$fontSize: rem(16);

// Breakpoints
$media-xxl: em(1399.98);
$media-xl: em(1199.98);
$media-lg: em(991.98);
$media-md: em(767.98);
$media-sm: em(575.98);
$media-xs: em(479.98);

// Основные цвета
$blackAlpha: #323642;
$whiteAlpha: #f5f5f5;
$redAlpha: #aa4337;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
$minWidth: 320;
$maxWidth: 1920;
$containerPadding: 15;
$maxWidthContainer: 1170 + $containerPadding * 2;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

@import "base";

@import "common";

@import "common/burger-button";

@import "header";
@import "footer";

@import "index/intro";
@import "index/form-order";
